<template>
  <v-timeline dense >
    <v-timeline-item
      color="green lighten-2"
    >
      <v-card class="elevation-2">
        <v-card-title class="headline">Working in Singapore</v-card-title>
        <v-chip label outline>September 2018 - Present</v-chip>
        <v-card-text>
          Started joining a startup company in Singapore <br> as a Full Stack Software Developer
        </v-card-text>
      </v-card>
    </v-timeline-item>
    <v-timeline-item
      color="red lighten-2"
    >
      <v-card class="elevation-2">
        <v-card-title class="headline">First Job in Yangon</v-card-title>
        <v-chip label outline>March 2017 - April 2018</v-chip>
        <v-card-text>
          Started working as Web Developer in Digital Marketing Agency in Myanmar. <br>
          Promoted as a Team Leader after 3 months.
        </v-card-text>
      </v-card>
    </v-timeline-item>    
    <v-timeline-item
      color="red lighten-2"
    >
      <v-card class="elevation-2">
        <v-card-title class="headline">Studied Computer Science</v-card-title>
        <v-chip label outline>November 2010 - November 2016</v-chip>
        <v-card-text>
          Graduated Bachelor of Engineering (Information Science and Technology) <br>
          from University of Technology (Yatanarpon Cyber City), Pyin Oo Lwin, Myanmar.<br>
        </v-card-text>
      </v-card>
    </v-timeline-item>
    <v-timeline-item
      color="red lighten-2"
    >      
      <v-card class="elevation-2">
        <v-card-title class="headline">Learning Basic Education</v-card-title>
        <v-chip label outline>June 1999 - March 2009</v-chip>
        <v-card-text>
          In a small town named Chaung-U, located in central Myanmar.
        </v-card-text>
      </v-card>
    </v-timeline-item>
    <v-timeline-item
      color="red lighten-2"
    >
      <v-card class="elevation-2">
        <v-card-title class="headline">I was born</v-card-title>
        <v-chip label outline>May 1994</v-chip>
        <v-card-text>
          Thanks to Mom & Dad for bringing me to this Earth
        </v-card-text>
      </v-card>
    </v-timeline-item>
  </v-timeline>
</template>