<template>
  <v-container>
    <v-layout
      text-xs-center
      wrap
    >
      <v-flex xs12>
        <v-avatar
          :size="180"
          color="grey lighten-4"
          class = "elevation-10"
        >
          <img :src="require('../assets/hkl-pp1.png')" alt="Profile Picture">
        </v-avatar>
      </v-flex>

      <v-flex mb-4>
        <h1 class="display-2 font-weight-bold mb-3">
          Hein Ko Lwin
        </h1>
        <p class="subheading font-weight-regular">
          Web Developer
        </p>
      </v-flex>

      <v-flex
        mb-5
        xs12
      >
        <h2 class="headline font-weight-bold mb-3">Contacts</h2>

        <v-layout justify-center>
          <a
            v-for="(next, i) in contacts"
            :key="i"
            :href="next.href"
            class="subheading mx-3"
            target="_blank"
          >
            <v-icon>{{next.icon}}</v-icon>
          </a>
        </v-layout>
      </v-flex>
      <v-flex
        mb-5
        xs12
      >
        <my-time-line/>
      </v-flex>
    </v-layout>
    <my-footer/>
  </v-container>
</template>

<script>
import MyTimeLine from './portfolioComponents/MyTimeline'
import MyFooter from './MyFooter'

  export default {
    components: { MyTimeLine, MyFooter },
    data: () => ({
      contacts: [
        {
          text: ' heinko94@gmail.com',
          href: 'mailto:heinko94@gmail.com',
          icon: 'email'
        },
        {
          text: ' m.me/heinkolwin',
          href: 'https://m.me/heinkolwin',
          icon: 'message'
        },
        {
          text: ' LinkedIn/heinkolwin',
          href: 'https://www.linkedin.com/in/heinkolwin/',
          icon: 'link'
        }
      ],
      sections: [
        {
          text: 'Blog',
          href: 'https://blog.heinkolwin.com'
        }
      ]
    })
  }
</script>

<style>

</style>
