<template>
  <v-app dark>
    <v-content>
      <my-portfolio/>
    </v-content>
  </v-app>
</template>

<script>
import MyPortfolio from './components/MyPortfolio'

export default {
  name: 'App',
  components: {
    MyPortfolio
  },
  data () {
    return {
      //
    }
  }
}
</script>
